.block,
.generaltable {
    border: none;
    border-top:2px dashed #32486a;
    margin-bottom: 3em;
    background: #fff;}

#page-content .region-content div[role="main"]{
    border-top:2px dashed #32486a;
    background: #fff;
}

.block.block_course_overview {
    border-top: none;
}

.block .header h2 { padding: .2em 0 0 .2em; margin: 0;word-wrap: break-word; color: #32486a;}
.block .header .block_action {float:right;margin:4px 0 3px 0;vertical-align:top;}
.block .header .block_action img,
.block .header .block_action input {margin:0 3px; width: 12px; height: 12px;}
.block .content {padding:4px;}
.jsenabled .block.hidden .content {display: none;}
.block .content .userpicture {width:16px;height:16px;margin-right:6px;}
.block .content .list li.listentry {clear:both;}
.block .content .list .c0 {display:inline;}
.block .content .list .c1 {margin-left:5px;display:inline;}
.block .footer {margin-bottom: 4px;}
.block_navigation .block_tree li {overflow:hidden;}
.block_calendar_upcoming .footer { margin-top: .5em; }

/** block_list blocks need column stuffs **/
.block.list_block .unlist > li > .column {display:inline-block;}
.ie6 .block.list_block .unlist .column {display:inline;}

.block.beingmoved {border-width: 2px;border-style: dashed;}
.blockmovetarget {display: block;height: 1em;margin-bottom: 1em;border-width: 2px;border-style: dashed;}

.block-region block.invisible .header h2 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.block .block-hider-show,
.block .block-hider-hide {cursor:pointer;}
.block .block-hider-show,
.block.hidden .block-hider-hide {display:none;}
.block.hidden .block-hider-show {display:inline;}

.block_completionstatus .generaltable { border: 0px; }
.block_completionstatus .generaltable .cell { border: 0px; }

.block-region {
    min-height: 400px;
    overflow: hidden;
}
/** Block commands when editing  **/

.editing .block .header .commands {
    text-align: right;
    clear: both;
}
.editing .block .header .commands > a {
    margin: 0 3px;
}
.editing .block .header .commands .icon img {
    width: 12px;
    height: 12px;
}
.editing .block .header .commands img.actionmenu {
    width: auto;
}

/** Overide for RTL layout **/
.dir-rtl .block .header h2 {
    padding: .2em .2em 0 0;
}
.dir-rtl .block .header .block_action { float: left;}

.dir-rtl.editing .block .header .commands {
    text-align: left;
}

/* Add Icons to block classes */

.block .title h2::before{
    content: '\f009';
    font-family: 'FontAwesome';
    margin-right: 1vw;
}

.block.block_navigation .title h2::before{
    content: '\f0c9';
}

.block.block_settings .title h2::before{
    content: '\f085';
}

.block.block_course_overview .title h2::before{
    content: '\f039';
}

.block.block_private_files .title h2::before{
    content: '\f0c5';
}

.block.block_online_users .title h2::before{
    content: '\f0c0';
}

.block.block_badges .title h2::before{
    content: '\f19d';
}

.block.block_calendar_month .title h2::before{
    content: '\f073';
}

.block.block_calendar_upcoming .title h2::before{
    content: '\f133';
}

.block.block_search_forums .title h2::before{
    content: '\f002';
}

.block.block_news_items .title h2::before{
    content: '\f1ea';
}

.block.block_recent_activity .title h2::before{
    content: '\f12e';
}

.block.block_activity_modules .title h2::before{
    content: '\f206';
}

.block.block_admin_bookmarks .title h2::before{
    content: '\f02e';
}

.block.block_activity_results .title h2::before{
    content: '\f206';
}

.block.block_blog_menu .title h2::before{
    content: '\f14b';
}

.block.block_blog_tags .title h2::before{
    content: '\f02c';
}

.block.block_comments .title h2::before{
    content: '\f0e6';
}

.block.block_community .title h2::before{
    content: '\f0c0';
}

.block.block_completionstatus .title h2::before{
    content: '\f19d';
}

.block.block_course_summary .title h2::before{
    content: '\f044';
}

.block.block_course_list .title h2::before{
    content: '\f03a';
}

.block.block_html .title h2::before{
    content: '\f121';
}

.block.block_myprofile .title h2::before{
    content: '\f007';
}

.block.block_mentees .title h2::before{
    content: '\f0c0';
}

.block.block_messages .title h2::before{
    content: '\f0e0';
}

.block.block_participants .title h2::before{
    content: '\f0c0';
}

.block.block_glossary_random .title h2::before{
    content: '\f02d';
}

.block.block_blog_recent .title h2::before{
    content: '\f09e';
}

.block.block_rss_client .title h2::before{
    content: '\f09e';
}

.block.block_section_links .title h2::before{
    content: '\f0c1';
}

.block.block_selfcompletion .title h2::before{
    content: '\f087';
}

.block.block_tags .title h2::before{
    content: '\f02c';
}

.block.block_adminblock .title h2::before{
    content: '\f067';
}

.block.block_ .title h2::before{
    content: '\f0c9';
}

.block.block_ .title h2::before{
    content: '\f0c9';
}