/**
 * CSS for displaying courses and everything in them
 */
.section_add_menus {text-align:right;}
.dir-rtl .section_add_menus {text-align:left;}
.section_add_menus .horizontal div,
.section_add_menus .horizontal form {display:inline;}
.section_add_menus optgroup {font-weight:normal;font-style: italic;}
.section_add_menus .urlselect { margin-left: .4em;}
.dir-rtl .section_add_menus .urlselect { margin-right: .4em; margin-left: 0;}
.section_add_menus .urlselect select { margin-left: .2em;}
.dir-rtl .section_add_menus .urlselect select { margin-right: .2em; margin-left: 0;}
.section_add_menus .urlselect img.iconhelp { padding: 0; margin: 0; vertical-align: text-bottom;}

.sitetopic ul.section { margin: 5px; padding: 0; }
.course-content ul.section { margin: 1em;}
.sitetopic .section .activity img.activityicon,
.course-content .section .activity img.activityicon {
    vertical-align: text-bottom;
    margin-right: 3px;
    margin-left: 3px;
    width: 24px;
    height: 24px;
}

.sitetopic .section .activity .activityinstance,
.course-content .section .activity .activityinstance,
.section .activity .activityinstance {
    display: inline-block;
}

.section .side.left {
    float: left;
}
.dir-rtl .section .side.left {
    float: right;
}
.section .side.right {
    float: right;
}
.dir-rtl .section .side.right {
    float: left;
}

.section .activity .editing_move {
    position: absolute;
    left: 0;
    top: 0;
}

.dir-rtl .section .activity .editing_move {
    left: auto;
    right: 0;
}

.section .activity .mod-indent-outer {
    display: table;
    padding-left: 24px;
}

.section .label .mod-indent-outer {
    padding-left: 24px;
    display: block;
}

.dir-rtl .section .activity .mod-indent-outer {
    padding-left: auto;
    padding-right: 24px;
}

.section .activity .actions {
    position: absolute;
    right: 0;
    top: 0;
}

.dir-rtl .section .activity .actions {
    left: 0;
    right: auto;
}

.course-content  li.section li.activity ul {
    list-style: disc;
}
.course-content  li.section li.activity ul ul {
    list-style: circle;
}
.course-content  li.section li.activity ul ul ul {
    list-style: square;
}

.sitetopic .section .activity .activityinstance div,
.course-content .section .activity .activityinstance div { display: inline;}
.course-content .section .activity .activityinstance form { display: inline;}
.sitetopic .section .activity .activityinstance,
.course-content .section .activity .activityinstance {
    height: 2em;
}

.editing .sitetopic .section .activity .activityinstance,
.editing .course-content .section .activity .activityinstance,
.editing .sitetopic .section .activity .contentwithoutlink,
.editing .course-content .section .activity .contentwithoutlink {
    padding-right: 200px;
}

.dir-rtl.editing .sitetopic .section .activity .activityinstance,
.dir-rtl.editing .course-content .section .activity .activityinstance,
.dir-rtl.editing .sitetopic .section .activity .contentwithoutlink,
.dir-rtl.editing .course-content .section .activity .contentwithoutlink {
    padding-left: 200px;
    padding-right: initial;
}

.sitetopic .section .activity .activityinstance,
.course-content .section .activity .activityinstance,
.sitetopic .section .activity .contentwithoutlink,
.course-content .section .activity .contentwithoutlink {
    padding-right: 32px;
    height: 2em;
    display: table-cell;

}

.sitetopic .section .label .activityinstance,
.course-content .section .label .activityinstance,
.sitetopic .section .label .contentwithoutlink,
.course-content .section .label .contentwithoutlink {
    padding-right: 32px;
    display: block;
    height: inherit;
}

.dir-rtl .sitetopic .section .activity .activityinstance,
.dir-rtl .course-content .section .activity .activityinstance,
.dir-rtl .sitetopic .section .activity .contentwithoutlink,
.dir-rtl .course-content .section .activity .contentwithoutlink {
    padding-left: 32px;
    padding-right: initial;
}

.sitetopic .section .activity .filler,
.course-content .section .activity .filler {
    width: 16px;
    height: 16px;
    margin: 4px;
    display: inline-block;
    vertical-align: text-bottom;
}

.dir-rtl .sitetopic .section .activity .activityinstance,
.dir-rtl .course-content .section .activity .activityinstance { padding-right: 0; padding-left: 3em;}
.sitetopic .section .activity .commands,
.course-content .section .activity .commands {
    white-space: nowrap;
    display: inline-block;
}

.section .activity .moodle-actionmenu .menu > li > *,
.section .activity .moodle-actionmenu .menubar > li > * {
    display: inline-block;
    min-height: 16px;
}
.section .activity .moodle-actionmenu[data-enhanced] .menu > li > * {
    display: block;
}
.section .activity .moodle-actionmenu[data-enhanced] .menu {margin-left: -2.8em;}
.section .activity .moodle-actionmenu:not([data-enhanced]) .menubar > li .toggle-display {
    display: none;
}
.section img.iconsmall {
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin: 4px;
}
.section .editing_title img.iconsmall {
    width: 12px;
    height: 12px;
    margin: 4px 8px 4px 0;
}

.section .activity.editor_displayed a.editing_title,
.section .activity.editor_displayed .moodle-actionmenu {
    display: none;
}

.single-section h3.sectionname {text-align:center;clear:both;}
.sitetopic .section li.activity,
.course-content .section li.activity {padding: .2em;}
.section .activity .activityinstance .groupinglabel { padding-left: .45em; }
.sitetopic .section .activity .availabilityinfo,
.sitetopic .section .activity .contentafterlink,
.course-content .section .activity .availabilityinfo,
.course-content .section .activity .contentafterlink { margin-top: 0.5em;}
.dir-rtl .sitetopic .section .activity .availabilityinfo,
.dir-rtl .sitetopic .section .activity .contentafterlink,
.dir-rtl .course-content .section .activity .availabilityinfo,
.dir-rtl .course-content .section .activity .contentafterlink { margin-left: 0; margin-right: 30px;}
.availabilityinfo > ul {
    margin-top: 0;
}
.section .activity .contentafterlink p { margin:.5em 0; }
.sitetopic .section .activity:hover,
.course-content .section .activity:hover { background-color: #EEE; }
.course-content .section-summary { border: 1px solid #DDD; margin-top: 5px; list-style: none; }
.course-content .section-summary .section-title  { margin: 2px 5px 10px 5px; }
.course-content .section-summary .summarytext { margin: 2px 5px 2px 5px; }
.course-content .section-summary .section-summary-activities .activity-count {color: #AAA; font-size: 12px; margin-right: 15px;}
.course-content .section-summary .summary { margin-top: 5px; }
.course-content .single-section { margin-top: 1em; }
.course-content .single-section .section-navigation { display: block; padding: 0.5em; margin-bottom: -0.5em; }
.course-content .single-section .section-navigation .title { font-weight: bold; font-size: 108%; }
.course-content .single-section .section-navigation .mdl-left { font-weight: normal; float: left; margin-right: 1em; }
.dir-rtl .course-content .single-section .section-navigation .mdl-left {float:right;}
.course-content .single-section .section-navigation .mdl-left .larrow { margin-right: 0.1em; }
.course-content .single-section .section-navigation .mdl-right { font-weight: normal; float: right; margin-left: 1em; }
.dir-rtl .course-content .single-section .section-navigation .mdl-right {float: left;}
.course-content .single-section .section-navigation .mdl-right .rarrow { margin-left: 0.1em; }
.course-content .single-section .section-navigation .mdl-bottom { margin-top: 0; }

#page-site-index .subscribelink {text-align:right;}
#site-news-forum h2,
#frontpage-course-list h2,
#frontpage-category-names h2,
#frontpage-category-combo h2 {margin-bottom: 9px;}
#page-site-index .clearfloat {float: none;clear: both; height:0px;}

.path-course-view a.reduce-sections {padding-left: 0.2em;}
.path-course-view .subscribelink {text-align:right;}
.path-course-view .unread {margin-left: 3em;}
.path-course-view .block.drag .header {cursor: move;}
.path-course-view .completionprogress { text-align: right; }
.dir-rtl.path-course-view .completionprogress { text-align: left; }
.path-course-view .single-section .completionprogress { margin-right: 5px; }
.path-course-view .section .summary {line-height:normal;}

.path-site li.activity > div,
.path-course-view li.activity > div {position:relative;}
.path-course-view li.activity form.togglecompletion .ajaxworking {position:absolute; right: 22px; width: 16px; height: 16px; background: url([[pix:i/ajaxloader]]) no-repeat;}
.path-course-view li.activity form.togglecompletion div {display:inline;}
.dir-rtl.path-course-view li.activity form.togglecompletion,
.dir-rtl.path-course-view li.activity span.autocompletion {left:1.7em;right:auto;padding:0px;}
.dir-rtl.path-course-view .completionprogress {float: none;}
.dir-rtl.path-course-view li.activity form.togglecompletion .ajaxworking {right: -22px;}

li.section.hidden span.commands a.editing_hide,
li.section.hidden span.commands a.editing_show {cursor:default;}

.section img.movetarget {height:16px;width:80px;}

.weeks-format, /* Window-width: 800 pixels.IE doesn't support, see inline IE conditional comment. */
.topics-format {margin-top: 8px;min-width: 763px;}

#page-course-pending .singlebutton,
#page-course-index .singlebutton,
#page-course-index-category .singlebutton,
#page-course-editsection .singlebutton {text-align:center;}

#coursesearch {
    margin-top: 1em;
    text-align:center;
    padding: 5px;
    margin: 0;
}


#coursesearch label {
    color: #32486a;
    font-variant: small-caps;
    text-transform: lowercase;
    font-size: 20px;
}

#coursesearch input#shortsearchbox,
#coursesearch input#coursesearchbox {
    border: #32486a 1px solid;
    border-radius: 3px;
    height: 20px;
    margin: 0 10px 0 0;
}

#coursesearch input[type="submit"] {
    border: 1px solid #32486a;
    border-radius: 15px;
    background: #32486a;
    padding: 3px;
    color: #fff;
}

#coursesearch input[type="submit"]:hover {
    background: #257b25;
    border-color: #257b25;
    cursor: pointer;
}

#page-course-pending .pendingcourserequests {margin-bottom: 1em;}
#page-course-pending .pendingcourserequests .singlebutton {display: inline;}
#page-course-pending .pendingcourserequests .cell {padding: 0 5px;}
#page-course-pending .pendingcourserequests .cell.c6 {white-space: nowrap;}

/* Courses and categories lists */

.coursebox {

}
.coursebox.collapsed {margin-bottom:0}
.coursebox.collapsed > .content {display:none;}
/*.coursebox > .info > .coursename a {display:block;}*/


#page-content.frontpage h2 {
    text-align: center;
    font-family: 'Tangerine';
    font-size: 4em;
    font-weight: normal;
}

.coursebox.remotehost .coursename a {background-image:url([[pix:moodle|i/mnethost]]);}
.coursebox > .info > .coursename,
.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile {float:left;clear:left;}
.coursebox .content .teachers li {list-style-type:none;padding:0;margin:0;}
.coursebox .enrolmenticons {padding:3px 0;float:right;}
.coursebox .moreinfo {padding:3px 0;float:right;}
.coursebox .enrolmenticons img,
.coursebox .moreinfo img {margin:0 .2em;}
.coursebox .content {clear:both;overflow: hidden;}
.coursebox .content .summary,
.coursebox .content .coursecat {float:right;}
.coursebox .content .coursecat {text-align:right;clear:right;}
.coursebox.remotecoursebox .remotecourseinfo {float:left;width: 40%;}
.coursebox .content .courseimage img {max-width:100px;max-height:100px;}

.coursebox >.info >.coursename {margin: 5px;padding:0; text-indent: 4vw;
text-align: right;
font-family: 'Tangerine';
font-size: 3em;
font-weight: unset;
text-decoration: none;}

.coursebox .content .teachers,
.coursebox .content .coursecat,
.coursebox .content .summary,
.coursebox .content .courseimage,
.coursebox .content .coursefile,
.coursebox.remotecoursebox .remotecourseinfo {margin:3px 5px;padding:0;}

.dir-rtl .coursebox > .info > .coursename a {padding-left:0;padding-right:21px;background-position: top right;}
.dir-rtl .coursebox > .info > .coursename,
.dir-rtl .coursebox .teachers,
.dir-rtl .coursebox .content .courseimage,
.dir-rtl .coursebox .content .coursefile {float:right;clear:right;}
.dir-rtl .coursebox .enrolmenticons,
.dir-rtl .coursebox .moreinfo {float:left;}
.dir-rtl .coursebox .summary,
.dir-rtl .coursebox .coursecat {float:left;}
.dir-rtl .coursebox .coursecat {text-align:left;clear:left;}

.course_category_tree .category .numberofcourse {font-size: 0.85em;}
.dir-rtl .course_category_tree .category .numberofcourse {padding-right: 20px;}

.course_category_tree .controls {visibility: hidden;}
.course_category_tree .controls div {display:inline;cursor:pointer;}
.jsenabled .course_category_tree .controls {visibility: visible;}

.course_category_tree .category >.info > .categoryname {background-image:url([[pix:moodle|t/collapsed_empty]]);background-repeat: no-repeat;background-position:center left;margin:0.5em 5px;}
.dir-rtl .course_category_tree .category >.info > .categoryname {background-image:url([[pix:moodle|t/collapsed_empty_rtl]]);background-position:center right;margin:0.5em 5px;}
.course_category_tree .category.with_children >.info > .categoryname {background-image:url([[pix:moodle|t/expanded]]);}
.course_category_tree .category.with_children.collapsed >.info > .categoryname {background-image:url([[pix:moodle|t/collapsed]]);}
.dir-rtl .course_category_tree .category.with_children.collapsed >.info .categoryname {background-image:url([[pix:moodle|t/collapsed_rtl]]);}
.course_category_tree .category.collapsed >.content {display:none;}
.course_category_tree .category > .info > .categoryname {padding:2px 18px;margin:3px;}
.course_category_tree .category > .content {padding-left:16px;overflow: hidden;}

.dir-rtl .course_category_tree .category > .content {padding-left:0;padding-right:16px;}

.course_category_tree .subcategories > .paging,
.courses > .paging {margin:0;padding:5px;text-align:center;}

.courses > .paging.paging-morelink,
.course_category_tree .subcategories > .paging.paging-morelink {text-align:left;}

.dir-rtl .courses > .paging.paging-morelink,
.dir-rtl .course_category_tree .subcategories > .paging.paging-morelink {text-align:right;}

#page-course-info .generalbox.info,
#page-enrol-index .generalbox.info {border:none;}

.path-course .clearfloat {float:none; clear:both;height:0px;}

.section .spinner {
    height: 16px;
    width: 16px;
}
.section .activity .spinner {
    margin: 4px;
    left: 100%;
    position: absolute;
}

.dir-rtl .section .activity .spinner {
    left: auto;
    right: 100%;
}

/* Quick edit of module name */

.sitetopic .section .activity form.activityinstance,
.course-content .section .activity form.activityinstance { display: inline; vertical-align: middle; }
span.editinstructions {
    position: absolute;
    top: 0px;
    margin-top: -22px;
    margin-left: 30px;
    line-height: 16px;
    font-size: .85em;
    padding: .1em .4em;
    background-color: #ffc;
    color: #000;
    text-decoration: none;
    z-index:9999;
    box-shadow:2px 2px 5px 1px #ccc;
    border:1px solid #ddd;
}
.dir-rtl span.editinstructions { left: auto; right: 32px;}
input.titleeditor { vertical-align: text-bottom; }
.editing .course-content .section .activity.editor_displayed .activityinstance {
    padding-right: initial;
}
.dir-rtl.editing .course-content .section .activity.editor_displayed .activityinstance {
    padding-left: initial;
}

/* Course drag and drop upload styles */
#dndupload-status {width:40%;margin:0 30%;padding:6px;border:1px solid #ddd;top:-5px;text-align:center;background:#ffc;position:absolute;left:0;box-shadow:2px 2px 5px 1px #ccc;border-radius:0px 0px 8px 8px;z-index: 0;}
.dndupload-preview {color:#909090;border:1px dashed #909090;list-style:none; margin-top: .2em; padding: .3em; line-height: 16px;}
.dndupload-preview img.icon { vertical-align: text-bottom; padding: 0;}
.dndupload-progress-outer {width:70px;border:1px solid black;border-radius:4px;height:10px;display:inline-block;margin:0;padding:0;overflow:hidden;position:relative;}
.dndupload-progress-inner {width:0%;height:100%;background-color:green;display:inline-block;margin:0;padding:0;float:left;box-shadow: 0 0 4px #229b15;border-radius:2px;background-repeat:repeat-x;background-position:top;background-image:url([[pix:theme_base|progress]])}
.dndupload-hidden {display:none;}

/** Course category management **/
#course-category-listings {background-color:#fff;border:1px solid #e1e1e8;margin-bottom:200px;}

/** Two column layout */
#course-category-listings.columns-2 > #category-listing > div {border-right:1px solid #e1e1e8;}
.dir-rtl #course-category-listings.columns-2 > #category-listing > div {border-left:1px solid #e1e1e8;border-right:0;}

#course-category-listings.columns-2 > #course-listing > div {border-left:1px solid #e1e1e8;margin-left:-1px;}
#course-category-listings.columns-2.viewmode-courses.course-selected > #course-listing > div {border-right:1px solid #e1e1e8;margin-right:-1px;}
#course-category-listings.columns-2 > #course-detail > div {border-left:1px solid #e1e1e8;}

/** Three column layout */
#course-category-listings.columns-3 #category-listing > div {border-right:1px solid #DDD;}
#course-category-listings.columns-3 #course-listing > div {border-right:1px solid #e1e1e8;border-left:1px solid #e1e1e8;margin-right:-1px;margin-left:-1px;}
#course-category-listings.columns-3 #course-detail > div {border-left:1px solid #DDD;}

#course-category-listings > div {}
#course-category-listings > div > div {min-height:300px;}
#course-category-listings h3 {margin:0;padding:0.6em 1em 0.5em;text-align:left;background-color:#f7f7f9;border-bottom:1px solid #e1e1e8;}
#course-category-listings h4 {margin:1em 0 0;padding:0.6em 1em 0.5em;text-align:left;}
.dir-rtl #course-category-listings h3,
.dir-rtl #course-category-listings h4 {text-align:right;}
.coursecat-management-header .moodle-actionmenu,
#course-category-listings .moodle-actionmenu {white-space:nowrap;}

#course-category-listings .listing-actions {text-align:center;padding:0.4em 0.3em 0.3em;}
#course-category-listings .listing-actions > * {display:inline-block;line-height:2.2em;}
#course-category-listings .listing-actions > .moodle-actionmenu {display:inline-block;}
.coursecat-management-header .moodle-actionmenu[data-enhanced].show .menu a,
#course-category-listings .listing-actions > .moodle-actionmenu .menu a {padding: 4px 1em;}
#course-category-listings .listing-actions .iconsmall {margin-left:0.5em;}
#course-category-listings ul.ml {list-style: none;margin:1em 0;}
#course-category-listings ul.ml ul.ml {margin:0;}
#course-category-listings li {line-height:2.2em;}
#course-category-listings li > div {border-bottom:1px solid #fff;border-top:1px solid #fff;}
#course-category-listings li > div:hover {background-color:#fafafa;}
#course-category-listings li.highlight {background-color:transparent;}
#course-category-listings li.highlight > div,
#category-listing li.highlight.listitem > div > .ba-checkbox,
#course-category-listings li.highlight > div:hover,
#course-category-listings li[data-selected='1'].highlight > div {background-color:#ddffaa;}
#course-category-listings li+li > div,
#course-category-listings li:first-child > div {border-top-color:#f7f7f9;}
#course-category-listings li .tree-icon {margin-right:0.5em;width:12px;height:12px;}
.dir-rtl #course-category-listings li .tree-icon {margin-left:0.5em;}
#course-category-listings li[data-selected='1'] > div {background-color:#FFFFD8;border-top-color: #e1e1e8;border-bottom-color:#f7f7f9;}
#course-category-listings li[data-selected='1'] li:first-of-type > div,
#course-category-listings li[data-selected='1'][data-expandable='0']+li > div {border-top-color:#e1e1e8;}
#course-category-listings li[data-selected='1']:last-of-type > div {border-bottom-color:#e1e1e8;}
#course-category-listings > div > div > ul.ml > li:first-child > div {border-top:0;}

#course-category-listings .moodle-actionmenu.show .menu li { line-height: 20px; }

#course-category-listings .listing-actions .moodle-actionmenu:not([data-enhanced]) li {line-height:normal;}
#course-category-listings .listing-actions .moodle-actionmenu:not([data-enhanced]) > .menubar li,
#course-category-listings .listing-actions .moodle-actionmenu:not([data-enhanced]) > .menubar a,
#course-category-listings .listing-actions .moodle-actionmenu:not([data-enhanced]) > .menu .menu-action-text {display:inline-block;}
#course-category-listings .listing-actions .moodle-actionmenu:not([data-enhanced]) > .menubar a {color:inherit;}
#course-category-listings .listing-actions .moodle-actionmenu:not([data-enhanced]) > .menubar a > img,
#course-category-listings .listing-actions .moodle-actionmenu:not([data-enhanced]) > .menubar .caret {display:none;}

.jsenabled #course-category-listings .moodle-actionmenu[data-enhance] .toggle-display img {
    width: auto;
}

.jsenabled #course-category-listings .moodle-actionmenu[data-enhance] .toggle-display.textmenu {
    padding-right: 4px;
}
.jsenabled #course-category-listings .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    vertical-align:text-top;
}

#course-category-listings .item-actions {margin-right:1em;display:inline-block;display:initial;}
#course-category-listings .item-actions .menubar img,
#course-category-listings .item-actions > a img { margin: 0 4px; vertical-align:inherit; }
#course-category-listings .item-actions .menu img {max-width:none;width:12px;}

#course-category-listings li .tree-icon {margin-left:0;}
#course-category-listings li li .tree-icon {margin-left:1em;}
#course-category-listings li li li .tree-icon {margin-left:2em;}
#course-category-listings li li li li .tree-icon {margin-left:3em;}
#course-category-listings li li li li li .tree-icon {margin-left:4em;}
#course-category-listings li li li li li li .tree-icon {margin-left:4.5em;}
#course-category-listings li li li li li li li .tree-icon {margin-left:5em;}
#course-category-listings li li li li li li li li .tree-icon {margin-left:5.5em;}

.dir-rtl #course-category-listings li .tree-icon {margin-right:0;margin-left: 0.5em;}
.dir-rtl #course-category-listings li li .tree-icon {margin-right:1em;}
.dir-rtl #course-category-listings li li li .tree-icon {margin-right:2em;}
.dir-rtl #course-category-listings li li li li .tree-icon {margin-right:3em;}
.dir-rtl #course-category-listings li li li li li .tree-icon {margin-right:4em;}
.dir-rtl #course-category-listings li li li li li li .tree-icon {margin-right:4.5em;}
.dir-rtl #course-category-listings li li li li li li li .tree-icon {margin-right:5em;}
.dir-rtl #course-category-listings li li li li li li li li .tree-icon {margin-right:5.5em;}

#course-listing .listitem .drag-handle {display:none;}
.jsenabled #course-listing .listitem .drag-handle {margin-right:0.5em;display:inline-block;cursor:pointer;}
#course-listing .listitem .categoryname {display:inline-block;margin-left:1em;color:#a1a1a8;}
#course-listing .listitem .coursename {display:inline-block;}

#category-listing .course-count {color:#a1a1a8;margin-right:2em;min-width:3.5em;display:inline-block;}
#category-listing .listitem.collapsed > ul.ml {display: none;}
#category-listing .course-count .smallicon {width:0.8em;height:0.8em;margin:0 0.3em;}
.dir-rtl #category-listing .course-count { margin-left: 2em; margin-right: 0; }

#category-listing .listitem > div > .ba-checkbox {vertical-align:middle;width:2.2em;text-align:center;margin:-1px 0;padding-top:2px;margin-right:0.5em;}
.dir-rtl #category-listing .listitem > div > .ba-checkbox {margin-left:0.5em;margin-right:0.5em;}
#category-listing .listitem[data-selected='1'] > div > .ba-checkbox {margin:0 0.5em 0 0;padding:0;}
.dir-rtl #category-listing .listitem[data-selected='1'] > div > .ba-checkbox {margin-left:0.5em;}
.category-bulk-actions {margin: 0 0.5em 0.5em;}

#course-category-listings .listitem .idnumber {color:#a1a1a8;margin-right:2em;}
#course-category-listings .listitem > div > .float-left {float:left;}
#course-category-listings .listitem > div > .float-right {float:right;text-align:right;}
.dir-rtl #course-category-listings .listitem > div > .float-left {float:right;}
.dir-rtl #course-category-listings .listitem > div > .float-right {float:left;text-align:left;}

#course-category-listings .listitem[data-visible="0"],
#course-category-listings .listitem[data-visible="0"] > div > a {color:#AAA;}
#course-category-listings .listitem > div .item-actions .action-hide,
#course-category-listings .listitem[data-visible="0"] > div .item-actions .action-show {display:inline;}
#course-category-listings .listitem > div .item-actions .action-show,
#course-category-listings .listitem[data-visible="0"] > div .item-actions .action-hide,

#category-listing .listitem:first-child > div .item-actions .action-moveup,
#category-listing .listitem:last-child > div .item-actions .action-movedown,
#course-listing > .firstpage .listitem:first-child > div .item-actions .action-moveup,
#course-listing > .lastpage .listitem:last-child > div .item-actions .action-movedown {display: none;}

#course-category-listings .listitem > div a.without-actions {color: #333;}

#course-listing li > div {padding-left:1em;}

#course-category-listings .detail-pair {border-bottom:1px solid #e1e1e8;margin:0 1em;}
#course-category-listings .detail-pair > * {display:inline-block;line-height:2.2em;}
#course-category-listings .detail-pair .pair-key {font-weight:bold;text-align:left;}
.dir-rtl #course-category-listings .detail-pair .pair-key {text-align:right;}
#course-category-listings .detail-pair .pair-key span {margin-right: 1em;display:block;}
.dir-rtl #course-category-listings .detail-pair .pair-key span {margin-right: 0;}
#course-category-listings .detail-pair:last-child {border-bottom-width:0;}

#course-category-listings .bulk-actions .detail-pair > * {display:block;width:100%;}
#course-category-listings .bulk-actions .detail-pair .pair-value {margin-left:2.2em;}
.dir-rtl #course-category-listings .bulk-actions .detail-pair .pair-value {margin-left:0;margin-right:2.2em;}

#course-category-listings .select-a-category .notifymessage,
#course-category-listings .select-a-category .alert {margin: 1em;}

.dir-rtl.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tr-br {right: inherit;}
/** Management header styling **/
.coursecat-management-header {vertical-align:middle;}
.coursecat-management-header h2 {display:inline-block;text-align:left;}
.coursecat-management-header > div {display:inline-block;float:right;}
.coursecat-management-header > div > div {display:inline-block;margin-left:1em;}
.dir-rtl .coursecat-management-header h2 {text-align:right;}
.dir-rtl .coursecat-management-header > div {float:left;margin-right:1em;margin-left:0;}
.coursecat-management-header .view-mode-selector .moodle-actionmenu {display:inline-block;}
.coursecat-management-header .view-mode-selector img {margin-left:0.5em;vertical-align: baseline;}
.coursecat-management-header  select {max-width: 300px;white-space: nowrap;}

.listing-pagination,
.listing-pagination-totals {text-align:center;}
.listing-pagination .yui3-button {background-color:#FFF;border:0;margin:0.4em 0.2em 0.45em;font-size:10.4px;}
.listing-pagination .yui3-button.active-page {background-color:#E5EFFD;}
.listing-pagination-totals.dimmed {color:#999;margin:0.4em 1em 0.45em;}

#category-listing .bulk-action-checkbox {vertical-align:middle;margin:0 0 0.5em 3px;}
.dir-rtl #category-listing .bulk-action-checkbox {vertical-align:middle;margin:0 3px 0.5em 0;}
#course-listing .bulk-action-checkbox {margin-right:0.6em;vertical-align:middle;margin-bottom:0.5em;}

/**
 * Display sizes:
 * Large displays                   1200        +
 * Default displays                  980     1199
 * Tablets                           768      979
 * Small tablets and large phones    481      767
 * Phones                              0      480
 */

@media (min-width: 1200px) and (max-width: 1600px) {
    #course-category-listings.columns-3 {background-color:transparent;border:0;}
    #course-category-listings.columns-3 #category-listing,
    #course-category-listings.columns-3 #course-listing {width:50%;}
    #course-category-listings.columns-3 #category-listing > div,
    #course-category-listings.columns-3 #course-listing > div,
    #course-category-listings.columns-3 #course-detail {border:1px solid #e1e1e8;background-color:#FFF;}
    #course-category-listings.columns-3 #course-detail > div {border:0;}
    #course-category-listings.columns-3 #course-detail {width:100%;margin-top:1em;}
}

@media (max-width: 1199px) {
    #course-category-listings.columns-2,
    #course-category-listings.columns-3 {background-color:transparent;border:0;}
    #course-category-listings.columns-2 #category-listing,
    #course-category-listings.columns-2 #course-listing,
    #course-category-listings.columns-2 #course-detail,
    #course-category-listings.columns-3 #category-listing,
    #course-category-listings.columns-3 #course-listing,
    #course-category-listings.columns-3 #course-detail {width:100%;margin-bottom:1em;}
    #course-category-listings.columns-2 #category-listing > div,
    #course-category-listings.columns-2 #course-listing > div,
    #course-category-listings.columns-2 #course-detail > div,
    #course-category-listings.columns-3 #category-listing > div,
    #course-category-listings.columns-3 #course-listing > div,
    #course-category-listings.columns-3 #course-detail > div {border:1px solid #e1e1e8;background-color:#FFF;}
}

/** Custom YUI grid CSS **/
.grid-col {
    display: inline-block;
    zoom: 1; *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.grid-col-1{display:block;}
.grid-col-1-2{width: 50%;}
.grid-col-1-3{width: 33.33333%;}
.grid-col-2-3{width: 66.66667%;}
.grid-col-1-4{width: 25%;}
.grid-col-3-4{width: 75%;}
.grid-col-1-5{width: 20%;}
.grid-col-2-5{width: 40%;}
.grid-col-3-5{width: 60%;}
.grid-col-4-5{width: 80%;}
.grid-col-1-6{width: 16.66667%;}
.grid-col-5-6{width: 83.33333%;}
.grid-col-1-7{width: 14.28571%;}
.grid-col-2-7{width: 28.57143%;}
.grid-col-3-7{width: 42.85714%;}
.grid-col-4-7{width: 57.14286%;}
.grid-col-5-7{width: 71.42857%;}
.grid-col-6-7{width: 85.71429%;}
.grid-col-1-8{width: 12.5%;}
.grid-col-3-8{width: 37.5%;}
.grid-col-5-8{width: 62.5%;}
.grid-col-7-8{width: 87.5%;}
.grid-col-1-9{width: 11.11111%;}
.grid-col-2-9{width: 22.22222%;}
.grid-col-4-9{width: 44.44444%;}
.grid-col-5-9{width: 55.55556%;}
.grid-col-6-9{width: 66.66667%;}
.grid-col-7-9{width: 77.77778%;}
.grid-col-8-9{width: 88.88889%;}
.grid-col-1-10{width: 10%;}
.grid-col-3-10{width: 30%;}
.grid-col-7-10{width: 70%;}
.grid-col-9-10{width: 90%;}
.grid-col-1-11{width: 9.09091%;}
.grid-col-2-11{width: 18.18182%;}
.grid-col-3-11{width: 27.27273%;}
.grid-col-4-11{width: 36.36364%;}
.grid-col-5-11{width: 45.45455%;}
.grid-col-6-11{width: 54.54545%;}
.grid-col-7-11{width: 63.63636%;}
.grid-col-8-11{width: 72.72727%;}
.grid-col-9-11{width: 81.81818%;}
.grid-col-10-11{width: 90.90909%;}
.grid-col-1-12{width: 8.33333%;}
.grid-col-5-12{width: 41.66667%;}
.grid-col-7-12{width: 58.33333%;}
.grid-col-9-12{width: 75%;}
.grid-col-11-12{width: 91.66667%;}
.grid-row-r {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}

.opera-only :-o-prefocus,
.grid-row-r {word-spacing: -0.43em;}
.grid-row-r img {max-width: 100%;}

@media (min-width:980px) {
    .grid-visible-phone     { display: none; }
    .grid-visible-tablet    { display: none; }
    .grid-visible-desktop   { }
    .grid-hidden-phone      { }
    .grid-hidden-tablet     { }
    .grid-hidden-desktop    { display: none; }
}

@media (max-width:480px) {
    .grid-row-r > [class ^= "grid-col"] {
        width:100%;
    }
}

@media (max-width:767px) {
    .grid-row-r > [class ^= "grid-col"] {
        width:100%;
    }
    .grid-visible-phone     { }
    .grid-hidden-phone      { display: none; }
    .grid-hidden-desktop    { }
    .grid-visible-desktop   { display: none; }
}

@media (min-width:768px) and (max-width:979px) {
    .grid-visible-tablet    {}
    .grid-hidden-tablet     { display: none; }
    .grid-hidden-desktop    {}
    .grid-visible-desktop   { display: none; }
}
