/**
 * CSS specifically for the frontpage
 */

#page.frontpage .headermain {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 6em;
}

#page.frontpage .headermain table {
    float: left;
    margin: 0;
    padding: 0;
}

table.headertable {
    margin-bottom: 0;
}

#page.frontpage table.headertable td {
    width: 48vw;
    padding: 2vw;
    height: 32vw;
}

#page.frontpage table.headertable td.header-img {
    background-image: url([[pix:theme|togo-study-pencil]]);
    background-position: center center;
    background-repeat: no-repeat;
}

#page.frontpage .headermain span.header-text{
    width: 3px;
    float: left;
}

 #page-content.frontpage .region-content {
 	padding: 0;
 }

#page-content.frontpage h2 {
	margin: 5px;
}


#page-content.frontpage .region-content div[role="main"] {
    border-top: none;
    background: transparent;
}


#page-content.frontpage .forumpost,
#page-content.frontpage .coursebox {
    border: rgba(0,0,0,.5) 10px solid;
    float: left;
    width: 250px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    background: #fff;
    padding-left: 20px;
    overflow: hidden;
    border-radius: 3px;
}

#page-content.frontpage .coursebox {
    border-color: rgba(50,72,106,.5);
    color: rgba(50,72,106,1);
}

#page-content.frontpage .coursebox::before {
    color: rgba(50,72,106,.5);
}

#page-content.frontpage .forumpost {
    border-color: rgba(181,32,34,.5);
    color: rgba(181,32,34,1);
}

#page-content.frontpage .forumpost::before {
    color: rgba(181,32,34,.5);
}

#page-content.frontpage .forumpost::before {
    content: '\f1ea';
}

#page-content.frontpage .coursebox::before {
    content: '\f19d'; 
}

#page-content.frontpage .forumpost::before,
#page-content.frontpage .coursebox::before {
    font-family: 'FontAwesome';
    font-size: 100px;
    text-align: center;
    width: 100%;
    float: left;
}

#page-content.frontpage .coursebox {
    position: relative;
    bottom: 17px;
}

#page-content.frontpage .left.picture {
    display: none;
}

#page-content.frontpage .row .topic {
    margin-left: 0;
}

#page-content.frontpage .row.side {
    display: none;
}

#page-content.frontpage .subject,
#page-content.frontpage .coursebox > .info > .coursename {
    font-size: 3em;
    font-family: tangerine;
    margin: 0;
    padding: 0;
    text-align: center;
    text-indent: 0;
    float: left;
    width: 100%;
}

#page-content.frontpage .content {
    padding: 10px 15px 0;
    text-align: justify;
}

#page-content.frontpage .content,
#page-content.frontpage .content,
#page-content.frontpage .author {
    display: none;
}

#page-content.frontpage .coursebox:hover .content ,
#page-content.frontpage .forumpost:hover .content,
#page-content.frontpage .forumpost:hover .author {
    display: block;
}

#page-content.frontpage .coursebox:hover::before ,
#page-content.frontpage .forumpost:hover::before  {
    color: rgba(0,0,0,.05);
}

#page-content.frontpage .coursebox::before ,
#page-content.frontpage .forumpost::before {
    -webkit-transition: color 5s, margin 5s; /* Safari */
    transition: color 5s, margin 5s; 
}

#page-content.frontpage .coursebox:hover::before ,
#page-content.frontpage .forumpost:hover::before {
    margin-bottom: -120px;
}

#page-content.frontpage .coursebox:hover .content ,
#page-content.frontpage .forumpost:hover .content {
    height: 100px;
    overflow-y:auto;
}

#page-content.frontpage #coursesearch {
    margin-top: 1em;
    text-align: right;
    padding: 5px 3vw;
    margin: 1px;
    background: black;
    border-radius: 3px;
}

#page-content.frontpage #coursesearch label {
    color: #fff;
}

#page-content.frontpage #coursesearch input[type="submit"] {
    border: 1px solid #fff;
    border-radius: 15px;
    background: #fff;
    padding: 3px;
    color: #32486a;
}

#site-news-forum > h2, 
#frontpage-course-list > h2 {
    display: none;
}