/* Template styles for base theme. */

/* Styles for column templates. */
.row-fluid {
    width: 100%;
}

.row-fluid::before {
    display: table;
    content: "";
    line-height: 0;
}

.row-fluid::after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.row-fluid [class*="span"] {
    float: left;
    margin-left: 1%;
    margin-right: 0;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid .span4 {
    width: 32.666666667%;
}

.row-fluid .span8 {
    width: 66%;
}

/* RTL styles for column templates. */
.dir-rtl .row-fluid [class*="span"] {
    float: right;
    margin-left: 0;
    margin-right: 1%;
}

.dir-rtl .row-fluid [class*="span"]:first-child {
    margin-right: 0;
}

/* Style for template columns-autoflow-1to1to1. */
.columns-autoflow-1to1to1 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

/* Responsive styles for smaller screens. */
@media (max-width: 767px) {
    /* For column templates. */
    .row-fluid [class*="span"] {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .dir-rtl .row-fluid [class*="span"] {
        margin-right: 0;
    }

    /* Change to a single column for smaller screens.*/
    .columns-autoflow-1to1to1 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-gap: 0;
        column-gap: 0;
    }
}


/* Misc */

.forumpost .row .left {
    width:auto;
    max-width: 43px;
}